<div class="container">	
	<div class="form">
			<%= form_for @report do |f| %>
				<% @food.each do |category, foods| %>
					<br>
					<h1><%= category %></h1>
					<% foods.each do |food| %>
						<%= check_box_tag "foods[]", food.id %> <%= food.name %><br>
					<% end %>
				<% end %>
			<br>
			<%= f.submit %>
			<% end %>
	</div>
</div>